.image-display{
  flex: 0 0 auto;
  width: 50%;
  display: block!important;
  height: 100%;
}

.image-layout{
  background-image: url(../public/media/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  position: relative;
  width: 200%;
}

.image-overlay{
  background:rgba(2,48,75,.20);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
